@{
	ViewData["Title"] = "Chi Tiết Sản Phẩm";
}
@model ProductDetailVM

<!-- back to top button-->
<a href="#" class="cd-top">Back To Top</a>
<!--End Back to top button-->
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Chi tiết sản phẩm</h1>
				<nav class="d-flex align-items-center">
					<a asp-controller="Home" asp-action="Index">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
					<a asp-controller="Product" asp-action="List">>Danh sách sản phẩm<span class="lnr lnr-arrow-right"></span></a>
					<a asp-controller="Product" asp-action="Detail">chi tiết sản phẩm</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->
<!--================Single Product Area =================-->
<div class="product_image_area">
	<div class="container">
		<div class="row s_product_inner">
			<div class="col-lg-6">
				<div class="s_Product_carousel">
					@* @foreach (var img in Model.Images)
					{
						<div class="single-prd-item">
							<img class="img-fluid" 
										src="~/img/product/@img.ImageId"
										alt="@Model.Product.NameProduct"/>
						</div>
					} *@
					@if (Model.Images == null || !Model.Images.Any())
					{
						<div class="single-prd-item">
							<img class="img-fluid"
									 src="~/img/logo_team.png"
									 alt="@Model.Product.NameProduct" />
						</div>
						<div class="single-prd-item">
							<img class="img-fluid"
									 src="~/img/logo_team.png"
									 alt="@Model.Product.NameProduct" />
						</div>
						<div class="single-prd-item">
							<img class="img-fluid"
									 src="~/img/logo_team.png"
									 alt="@Model.Product.NameProduct" />
						</div>
					}
					else
					{
						@foreach (var img in Model.Images)
						{
							<div class="single-prd-item">
								<img class="img-fluid"
										 src="~/img/product/@img.ImageId"
										 alt="@Model.Product.NameProduct" />
							</div>
						}
					}
				</div>
			</div>
			<div class="col-lg-5 offset-lg-1">
				<div class="s_product_text">
					<h3>@Model.Product.NameProduct</h3>
					<h2 id="price">@Model.Price.ToString("N0") đ</h2>
					<ul class="list">
						<li><a class="active" asp-controller="Category" asp-action="Index"><span>Phân loại</span> : @Model.Product.Category.NameCategory</a></li>
            <li>
              <a >
								<span>Số lượng tồn</span> :
								<span id="stock-count" class="ml-2 text-success">
                  @Model.Quanlity
                </span>
              </a>
            </li>
						<li>
							<a>
								<span>Tình trạng</span> :
								<span id="stock-status">
									@(Model.Quanlity > 0 ? "Còn hàng" : "Hết hàng")
								</span>
								
							</a>
						</li>
					</ul>
					<p>
						@Model.Product.Descriptions
					</p>
					<div class="noname align-items-center">
						<div class="pb-2"><label>Chọn phiên bản:</label></div>
						<div class="default-select pb-2">
							<select id="variantSelect">
								@foreach (var v in Model.Variants)
								{
									<option value="@v.VariantId"
													data-price="@v.Price"
													data-qty="@v.Quantity">
										@v.Size.Scale - @v.Color.ColorName
									</option>
								}
							</select>
						</div>
					</div>


						<div class="pb-1 pt-2"><label for="qty">Số lượng:</label></div>
						<div class="product_count">

							<input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
											class="increase items-count" type="button">
								<i class="lnr lnr-chevron-up"></i>
							</button>
							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
											class="reduced items-count" type="button">
								<i class="lnr lnr-chevron-down"></i>
							</button>
						</div>
					</div>
					<br>
					<div class="card_area d-flex align-items-center">
						<a class="primary-btn" href="#">Thêm vào giỏ hàng</a>
						@if (Context.Session.GetInt32("AccountId") != null)
						{
							<a class="icon_btn" href="#" title="Wishlist">
								<i class="lnr lnr-heart"></i>
							</a>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--================End Single Product Area =================-->
<!--================Product Description Area =================-->
<section class="product_description_area">
	<div class="container">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mô tả sản phẩm</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
					 aria-selected="false">Chính sách đổi trả</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
					 aria-selected="false">Nhận xét</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
				<p>
					@Model.Product.Descriptions
				</p>

			</div>
			<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
				<p>
					<b>1 </b><br>

					<u><b>Điều kiện:</b></u> <br>

					 <br>
					<b>Địa điểm:</b> <br>

					<br>
					<u><b> Lưu ý:</b></u><br>

					</b><br>

					<br>
					<b><u>Điều kiện:</u></b><br>

					<br>
					<b><u>Lưu ý:</u></b><br>

					<br>
					<b>3. Chi phí vận chuyển cho việc đổi kích cỡ và đổi hàng lỗi</b><br>

					<br>
					<b>4. Địa chỉ đổi size</b><br>

					<br>

					Email: minicarmodel@gmail.com<br>

					Hotline tư vấn online: 0333854516<br>

					Website: www.minicar.com.vn hoặc facebook: www.facebook.com/minicar<br>

					<b>5. Thời gian xử lý</b><br>

					
				</p>
			</div>
			<div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
				<div class="row">
					<div class="col-lg-6">
						<div class="row total_rate">
							<div class="col-6">
								<div class="box_total">
									<h5>Đánh giá sản phẩm</h5>
									<h4>@Model.AvgRating.ToString("0.0")</h4>
									<h6>(@Model.Comments.Count Nhận xét)</h6>
								</div>
							</div>
							<div class="col-6">
								<div class="rating_list">
									<h3>Dựa trên 3 đánh giá</h3>
									<ul class="list">
										<li>
											<a href="#">
												5 sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
											</a>
										</li>
										<li>
											<a href="#">
												4 sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
											</a>
										</li>
										<li>
											<a href="#">
												3 sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
											</a>
										</li>
										<li>
											<a href="#">
												2 sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
											</a>
										</li>
										<li>
											<a href="#">
												1 sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="review_list">
							@if (!Model.Comments.Any())
							{
								<p class="text-center">Chưa có bình luận nào</p>
							}
							else
							{
								foreach (var c in Model.Comments)
								{
									<div class="review_item">
										<div class="media">
											<div class="d-flex">
												<img src="~/img/product/default-user.png" alt="" >
											</div>
											<div class="media-body">
												<h4>@c.Account?.UserName ?? "Ẩn danh"</h4>

												@for (int i = 1; i <= 5; i++)
												{
													<i class="fa fa-star" style="color:@(i <= c.Rating ? "#ffcc00" : "#ccc")"></i>
												}
											</div>
										</div>
										<p>@c.Content</p>
									</div>
								}
							}
						</div>
          </div>						
					<div class="col-lg-6">
            <div class="review_box">
              <h4>Thêm nhận xét mới</h4>
              <p>Đánh giá của bạn:</p>
              <ul class="list">
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
              </ul>
              <p>Tuyệt vời</p>
              <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">

                <div class="col-md-12">
                  <div class="form-group">
                    <textarea class="form-control" name="message" id="message" rows="1" placeholder="Nhận xét" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Review'"></textarea>
                  </div>
                </div>
                <div class="col-md-12 text-right">
                  <button type="submit" value="submit" class="primary-btn">Đánh giá ngay</button>
                </div>
              </form>
            </div>
          </div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Product Description Area =================-->
<!-- Start related-product Area -->
<section class="related-product-area section_gap py-2">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="section-title">
					<h1>Danh sách sản phẩm liên quan</h1>
				</div>
			</div>
		</div>

		@if (Model.RelatedProducts.Any())
		{
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						@foreach (var p in Model.RelatedProducts)
						{
							var img = p.ProductVariants.SelectMany(v => v.ProductImages)
							.FirstOrDefault()?.UrlImage ?? "~/img/logo_team.png";

							<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
								<div class="single-related-product d-flex">
									<a href="/Product/Detail/@p.ProductId">
										<img src="~/img/logo_team.png" alt="">
									</a>
									<div class="desc">
										<a href="/Product/Detail/@p.ProductId" class="title">@p.NameProduct</a>
										<div class="price">
											<h6>@string.Format("{0:N0} đ", p.ProductVariants.Min(v => v.Price))</h6>
										</div>
									</div>
								</div>
							</div>
						}
					</div>
        </div>
				<div class="col-lg-3">
          <div class="ctg-right">
            <a href="#" target="_blank">
              <img class="img-fluid d-block mx-auto" src="../../../img/categories/c5.jpg" alt="">
            </a>
          </div>
        </div>
			</div>
		}
		else
		{
			<p class="text-center">Không có sản phẩm liên quan</p>
		}
	</div>
</section>

<section class="related-product-area section_gap py-2">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="section-title">
					<h1>Sản phẩm bạn yêu thích</h1>
				</div>
			</div>
		</div>

		@if (Model.WishlistProducts?.Any() ?? false)
		{
			<div class="row">
				@foreach (var p in Model.WishlistProducts)
				{
					var price = p.ProductVariants.Min(v => v.Price);
					<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
						<div class="single-related-product d-flex">
							<a href="/Product/Detail/@p.ProductId">
								<img src="~/img/logo_team.png" />
							</a>
							<div class="desc">
								<a href="/Product/Detail/@p.ProductId" class="title">@p.NameProduct</a>
								<div class="price">
									<h6>@string.Format("{0:N0} đ", price)</h6>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		}
		else
		{
			<p class="text-center">Hãy bấm ❤️ để thêm sản phẩm yêu thích</p>
		}
	</div>
</section>
<!-- End related-product Area -->
<script src="~/js/variant_select.js"></script>



