@{
	ViewData["Title"] = "Danh sách sản phẩm";

	int currentPage = ViewBag.CurrentPage;
	int totalPages = ViewBag.TotalPages;

	int startPage = Math.Max(1, currentPage - 1);
	int endPage = Math.Min(totalPages, currentPage + 1);
}

@model ProductFilterVM


<!-- back to top Button-->
<a href="#" class="cd-top">Back To Top</a>
<!--End Back to top Button-->
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Danh sách sản phẩm</h1>
				<nav class="d-flex align-items-center">
					<a asp-controller="Home" asp-action="Index">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
					<a asp-controller="Product" asp-action="List">Danh sách sản phẩm</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->
<div class="container">
	<div class="row">
		<div class="col-xl-3 col-lg-4 col-md-5">
			<div class="sidebar-filter mt-50">
				<div class="top-filter-head">Bộ lọc</div>
				<div class="common-filter">
					<div class="head">Thương hiệu</div>
					<div class="common-filter">
						<ul>
							@foreach (var item in Model.Trademarks) {
								<li class="filter-list"><input class="pixel-radio" type="radio" id="brand-@item.TrademarkId" value="@item.TrademarkId" name="brand"><label for="brand-@item.TrademarkId">@item.NameTrademark</label></li>
							}
						</ul>
					</div>
				</div>
				<div class="common-filter">
					<div class="head">Kích thước</div>
					<div class="common-filter">
						<ul>
							@foreach (var item in Model.Sizes) {
								<li class="filter-list"><input class="pixel-radio" type="radio" id="size-@item.SizeId" value="@item.SizeId" name="size"><label for="size-@item.SizeId">@item.Scale</label></li>
							}
						</ul>
					</div>
				</div>
				<div class="common-filter">
					<div class="head">Màu sắc</div>
					<ul>
						@foreach (var item in Model.Colors) {
							<li class="filter-list"><input class="pixel-radio" type="radio" id="color-@item.ColorId" value="@item.ColorId" name="color"><label for="color-@item.ColorId">@item.ColorName</label></li>
						}
					</ul>
				</div>
				<div class="common-filter">
					<div class="head">Giá</div>
					<div class="price-range-area">
						<div id="price-range"></div>
						<div class="value-wrapper d-flex">
							<div class="price">Giá:</div>
							<span>đ</span>
							<div id="lower-value"></div>
							<div class="to">đến</div>
							<div id="upper-value"></div>
							<span>đ</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-9 col-lg-8 col-md-7 mt-5" style="margin-top: 50px !important">
			<!-- Start Filter Bar -->
			<div class="filter-bar d-flex flex-wrap align-items-center" style="
					height: 60px;
					font-size: 16px;
					color: white;">
				<div class="sorting">
					<div class="top-filter-head">Danh sách sản phẩm</div>
				</div>
			</div>
			<!-- End Filter Bar -->
			<!-- Start Best Seller -->
			<div id="filter-result">
				<section class="lattest-product-area pb-40 category-list">
					<div id="product-list" class="row">
						@await Html.PartialAsync("_ProductListPartial", Model.Products)
					</div>
				</section>

				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="text-center mt-2">
						<div id="pagination-wrapper">
							<div class="btn-group">
								@await Html.PartialAsync("_PaginationPartial")
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- End Filter Bar -->
	</div>
</div>
